@model IEnumerable<PokemonMVC.Models.Pokemon>
@{
    ViewBag.Title = "Pokemon List";
}

<h2>Pokemon List</h2>
<ul>
    @if (Model != null)
    {
        @foreach (var pokemon in Model)
        {
            <li>
                <a href="@Url.Action("Details", "Pokemon", new { name = pokemon.Name })">@pokemon.Name</a>
            </li>
        }
    }
    else
    {
        <li>No Pokemon found.</li>
    }
</ul>

@if (ViewBag.Page > 1)
{
    <a href="@Url.Action("Index", new { page = ViewBag.Page - 1 })">Previous</a>
}
<a href="@Url.Action("Index", new { page = ViewBag.Page + 1 })">Next</a>