html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
nav {
    background-color: blanchedalmond;
}

.nav-item a.button {
    display: inline-block;
    padding: 10px 50px;
    background-color: blanchedalmond;
    color: #fff; /* White color */
    text-decoration: none;
    font-size: 25px;
    margin-top: 5px;
}

    .nav-item a.button:hover {
        background-color: burlywood; 
    }